{% extends 'base.html' %}

{% block title %}
詳細ページ
{% endblock title %}


{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      {% if object.avatar %}
      <img class="img-thumbnail d_avatar" src="{{ object.avatar.url }}" alt="">
      {% endif %}
      <div>
        <h1 class="mb-4">{{ object.user }}</h1>
        <p>{{object.bio}}</p>
        <!-- <table class="table">
          <tbody>
            <tr>
              <td scope="row">友達の数</td>
              <td>{{ object.get_friends_count }}</td>
            </tr>
            <tr>
              <td scope="row">投稿の数</td>
              <td>{{ object.get_posts_count }}</td>
            </tr>
            <tr>
              <td scope="row">いいねした数</td>
              <td>{{ object.get_likes_given_count }}</td>
            </tr>
            <tr>
              <td scope="row">いいねをもらった数</td>
              <td>{{ object.get_likes_recieved_count }}</td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <div class="col-12 col-md-6">
      <!-- {% for post in posts %}
      <div class="card mb-3 shadow rounded">
        <div class="card-header">
          <p class="card-text"><small class="text-muted">{{ post.created|timesince}}前</small></p>
        </div>
        {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}" alt="">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
        </div>
      </div>
      {% endfor %} -->
    </div>
  </div>
</div>
{% endblock content %}