{% extends 'base.html' %}

{% block title %}
詳細ページ
{% endblock title %}

<!-- 画像が表示されない -->

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      {% if profile.avatar %}
      <img class="" src="/images/{{ profile.avatar.url }}" style="width: 60%; border-radius: 50%">
      {% endif %}
      <div>
        <h1 class="mb-4">{{ object.user }}</h1>
        <p>{{object.bio}}</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      {% for photo in photos %}
      <div class="card mb-3 shadow-lg rounded">
        <div class="card-header">
          <small class="text-muted">{{ photo.created|timesince}}前
          </small>
          <div class="row">
              <div class="col-md-12 text-center">
                  <h4 class="card-text">{{ photo.title }}</h4>
              </div>
          </div>
      </div>
        {% if photo.photo %}
          <img class="card-img-top rounded" src="/{{ photo.photo.url }}">
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}