{% extends 'base.html' %}

{% block title %}
ユーザー一覧表示
{% endblock title %}


<!-- 自分以外のユーザーを表示させる -->

{% block content %}

    {% if is_empty %}
        <div class="alert alert-warning" role="alert">
            <h1 class="text-center">現在、他のユーザーはいません。</h1>
        </div>
    {% endif %}

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            {% for obj in object_list %}
            <div class="col-md-8 my-3">
                <div class="card shadow-lg rounded">
                    <div class="card-body">
                        <div class="row text-center align-items-center">
                            <div class="col-md-3">
                                <img src="/images/{{ obj.avatar.url }}" alt="" style="width: 55%; border-radius: 50%;">
                            </div>
                            <div class="col-md-5">
                                <span class="text-muted">ユーザー名：</span>
                                <h3>{{ obj.user }}</h3>
                            </div>
                            <div class="col-md-2">
                                <a href={{obj.get_absolute_url}}>
                                    <button class="btn btn-outline-success p-3"><i class="fa fa-search-plus"></i> もっと見る</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock content %}