{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="card my-5 mx-auto" style="width: 50vw; border-radius: 1rem; box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <h3 class="text-center my-5">ログイン</h3>
        <form method="POST" class="form-auth">
            {% csrf_token %}
            <div class="my-3">
                {% render_field form.username class='form-control' placeholder='ユーザー名（testuser）' %}
            </div>

            <div class="my-3">
                {% render_field form.password class='form-control' placeholder='パスワード（myjlab0815）' %}
            </div>

            <!-- エラー表示開始 -->
            {% if form.errors %}
            <div class="errorlist">
                {% for errors in form.errors.values %}
                    {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- エラー表示終了 -->

            <div class="button mx-auto mt-4 text-center">
                <button class="btn btn-primary btn-block mx-auto" type="submit">ログインする</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}