{% extends 'base.html' %}

{% block title %}
感情分析
{% endblock title %}



{% block content %}


<div class="text-center my-5">
    <h1>感情分析</h1>
</div>

<div class="card mb-5 mx-auto" style="width: 60vw; border-radius: 1rem; box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        {% if obj.output %}
        <div class="text-center my-3">
            <h1 class="mb-4">{{obj.title}}</h1>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-md-6">
                <!-- <h3>{{ obj.title }}</h3> -->
                <img class="rounded" src="/{{ obj.photo.url }}" style="width: 80%;"/>
            </div>
            <div class="col-md-6">
                {% if emo %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">挿入テキスト</th>
                        <th scope="col">スコア</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">１位</th>
                        <td>{{text1}}</td>
                        <td>{{score1}}</td>
                      </tr>
                      <tr>
                        <th scope="row">２位</th>
                        <td>{{text2}}</td>
                        <td>{{score2}}</td>
                      </tr>
                      <tr>
                        <th scope="row">３位</th>
                        <td>{{text3}}</td>
                        <td>{{score3}}</td>
                      </tr>
                    </tbody>
                  </table>                
                {% endif %}        
            </div>
        </div>       
        {% endif %}
    </div>
</div>

<div class="text-center">
    <a type="button" href="/" class="btn btn-outline-secondary">ホームへ戻る</a>
</div>



{% endblock content %}

