{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
トップページ
{% endblock title %}



{% block content %}

<div class="row justify-content-center">
    <!-- <div class="col-md-3"></div> -->
    <div class="col-12 col-md-5">
        <div class="button text-center mt-5 mb-4" data-toggle="collapse" data-target="#collapse_post" aria-expanded="false"　aria-controls="collapse_post">
            <button class="btn btn-outline-light btn-block mx-auto px-5">
                    新規投稿
            </button>
        </div>
        <div class="collapse" id="collapse_post">
            <div class="card">
                <div class="card-body pb-2">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            {% render_field p_form.title class='form-control' %}
                        </div>
                        <div class="my-2">
                            {% render_field p_form.photo class='form-control text-muted' %}
                        </div>
                        <hr>
                        <div class="text-center">
                            <button class="btn btn-outline-secondary" type="submit" name="submit_p_form">投稿する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% for photo in photos %}
            <div class="card my-3 shadow-lg rounded">
                <div class="card-header">
                    <small class="text-muted">
                        {{ photo.author.user }} : {{ photo.created|timesince}}前
                    </small>
                    <div class="row">
                        <div class="col-md-12 text-center my-1">
                            <h4 class="card-text">{{ photo.title }}</h4>
                        </div>
                    </div>
                </div>
                {% if photo.photo %}
                <img class="card-img-top" src="{{ photo.photo.url }}" alt="">
                {% endif %}
                <div class="card-body d-flex justify-content-between">
                    <div>
                        {% ifequal request.user photo.author.user %}
                        <a href="{% url 'photoremake:emotion' photo.pk %}" class="btn btn-outline-primary">感情分析</a>
                        {% endifequal %}
                    </div>
                    <div class="float-right">
                        {% ifequal request.user photo.author.user %}
                        <a href="{% url 'photoremake:photo-update' photo.pk %}" class="btn mx-3">編集</a>
                        <a href="{% url 'photoremake:photo-delete' photo.pk %}" class="btn btn-outline-danger">削除</a>
                        {% endifequal %}
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    <!-- <div class="col-md-3"></div> -->


</div>


{% for obj in objs %}
{% if obj.image %}
<div class ="image">
    {{ obj.title }}
    <img src="/{{ obj.image.url }}" style="width:300px;height:auto">
{% endif %}
<div class="date">
    {{ p.uploaded_at }}
</div>
</div>
{% endfor %}

{% endblock content %}
