{% load static %}
<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset = "UTF-8">
    <title>トップページ</title>

</head>
<body>
    <h1>写真加工アプリrains</h1>
    <a href="/upload">アップロードする</a>
    <h1>過去にあげられた画像</h1>
    {% for p in photos %}
        <div class="post">
        {% if p.photo %}
        <div class ="image">
            <a href="/coordinate/{{ p.id }}"><img src="/{{ p.photo.url }}" style="width:300px;height:auto"></a>
        </div>
        {% endif %}
            <div class="date">
                {{ p.date }}
            </div>
        </div>
    {% endfor %}
</body>
</html>