{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
編集
{% endblock title %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6">
        <div class="card shadow-lg">
            <div class="card-body p-5">
                <h5 class="card-title text-center mb-3">投稿編集</h5>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                        {% render_field form.title class='form-control' %}
                    </div>
                    <div class="my-3">
                        {% render_field form.photo class='form-control' %}
                    </div>        
                    <div class="button text-center mt-5">
                        <button class="btn btn-outline-warning btn-block mx-auto" type="submit">編集する</button>
                    </div>
                </form>
            </div>
        </div>        

    </div>
</div>


{% endblock content %}