.form-wrapper2 {
    margin: 3em auto;
    padding: 0 1em;
    max-width: 370px;
  }
  
  h1 {
      text-align: center;
  }
  
  .form-footer {
    text-align: center;
    padding-top: 20px;
  }

  .button-panel {
      text-align: center;
  }

.index {
    text-align: center;
}